[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autoflake = "*"
bandit = "*"
black = {version = "*", markers="python_version >= '3.7'"}
build = "*"
bump2version = "*"
cohesion = "*"
# Hotfix for Pipenv's Bug @see https://github.com/pypa/pipenv/issues/4101
colorama = "*"
coverage = ">=3.5.4"
dlint = "*"
docformatter = {extras = ["tomli"], version = "*"}
dodgy = "*"
# Since Pipenv can't lock for too much combinations to attempt lock:
# pip._vendor.resolvelib.resolvers.ResolutionTooDeep: 2000000
flake8 = {version = "==4.0.1", markers="python_version >= '3.6'"}
# To use flake8 --radon-show-closures
flake8-polyfill = "*"
# Latest hacking depends on legacy version of flake8, and legacy hacking doesn't narrow flake8 version.
# When unpin hacking, it has possibility to install too legacy version of hacking.
hacking = {version = ">=5.0.0", markers="python_version >= '3.8'"}
invoke = "*"
isort = "*"
mypy = "*"
numpy = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
pytest-resource-path = "*"
pyvelocity = {version = "*", markers="python_version >= '3.9'"}
radon = "*"
# To mock requests to prevent slow test
requests-mock = "*"
tomli = {version = "*", markers="python_version >= '3.6'"}
types-invoke = "*"
types-requests = "*"
xenon = "*"
radikoplaylist = {editable = true,path = "."}

[packages]
# - dlint/DUO107.md at master · dlint-py/dlint
#   https://github.com/dlint-py/dlint/blob/master/docs/linters/DUO107.md
defusedxml = "*"
# To parse m3u8 from radiko
m3u8 = "*"
# To request to radiko
requests = "*"
